@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>EncurtaAe é um aplicativo <b>desenvolvido para estudos de endpoints e ASP.NET</b>. O projeto utiliza ferramentas como <strong>Azure</strong> para hospedagem e estudos de cloud, <strong>Visual Studio Code</strong> como principal IDE de desenvolvimento e <strong>Aiven</strong> como serviço de nuvem gratuita. Garantindo o funcionamento correto da aplicação.</p>

<p>Durante o desenvolvimento, foram aplicados conhecimentos de <b>HTML, CSS e Bootstrap, além de habilidades em C# e banco de dados.</b></p>

<br>
<br>

<p><strong>Autor:</strong> Renan dos Reis Negrão</p>

<p>Confira meu <a href="https://github.com/RenanDRN" target="_blank">GitHub</a>.</p>

<p>Confira meu <a href="https://www.linkedin.com/in/renan-dos-reis-negrão-96b556241/" target="_blank">linkedin</a>.</p>

<p> Confira também o <a href="https://github.com/RenanDRN/EncurtaAe">repositorio do Projeto</a>.</p>

<p><b>OBS:</b> Por não ter um DNS privado e curto, o link não será exatamente curto... Mas o que vale é a intenção, né? </p>